---
import DefaultLayout from '../layouts/DefaultLayout.astro'
import Hero from '../components/Hero.astro'
import Feature from '../components/Feature.astro'
import ContentMedia from '../components/ContentMedia.astro'
import CallToAction from '../components/calltoaction.astro'
---

<DefaultLayout title="Home">
  <Hero />
  <section class="my-64">
    <div class="container">
      <h2 class="mb-16 text-6xl">¿Porqué aprender Scrypto?</h2>
      <div class="grid grid-cols-1 gap-12 md:grid-cols-2 lg:grid-cols-3">
        <Feature icon="mdi:lock" title="Seguro">
          Scrypto está orientado a activos, lo que significa que Scrypto es el primer lenguaje en el que los activos de valor (ya sean tokens, NFT y más) son tipos de primera clase que garantizan que no se pierda nada o no se tenga en cuenta en tiempo de ejecución. 
        </Feature>
        <Feature icon="mdi:emoticon" title="Simple">
          Los desarrolladores pueden concentrarse con confianza en escribir la lógica principal de la dApp que sea más segura porque nunca tienen que implementar el comportamiento de los activos y verificar errores ellos mismos, eliminando el riesgo y la complejidad al mismo tiempo.
        </Feature>
        <Feature icon="mdi:football-helmet" title="Potente">
          Scrypto se basa en Rust, proporcionando la lógica poderosa y expresiva de uno de los lenguajes más queridos en la actualidad, al tiempo que agrega primitivas y funciones orientadas a activos que permiten al desarrollador concentrarse en programar rápidamente.
        </Feature>
      </div>
    </div>
  </section>
  <ContentMedia imgSrc="/hola_mundo2.webp">
    <h2>Intuitivo</h2>
    <p class="text-2xl">
      Con Scrypto, los conceptos de activos y permisos son elementos de primera clase del lenguaje, lo que le brinda herramientas intuitivas para crear e implementar dApps potentes y seguras donde la gestión de activos es muy sencilla y los costosos hackeos del DeFi son cosa del pasado.
    </p>
  </ContentMedia>
  <ContentMedia imgSrc="/reutilizable.webp" reverseImg={true}>
    <h2>Reutilizable</h2>
    <p class="text-2xl">
      Scrypto lleva el código abierto al siguiente nivel. Un "Catálogo de planos" en la red con 'piezas de funcionalidad reutilizables' permitirá a los desarrolladores contribuir y aprovechar el código que no solo es abierto, sino que está vivo y probado por toda la comuniad.
    </p>
  </ContentMedia>
  <CallToAction />
</DefaultLayout>
