---
const currentYear = new Date().getFullYear()
---

<footer>
  <section class="py-3">
    <div class="container">
      <p>
        &copy; {currentYear} - Tema creado con <a href="https://astro.build/">Astro</a> por <a
          href="https://github.com/markteekman">Mark Teekman</a>. Cumple los estandares de accesibilidad <strong>WCAG 2.1 AA</strong>.
      </p>
    </div>
  </section>
</footer>
